/* NAV  */

/* copier coller css de la page index */


/* SECTION HERO */

.div-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3 {
    text-align: center;
    color: #0078BE;
}


/* SECTION INTRO */




/* SECTION CIBLE */






/* SECTION CONTEXTE */





/* SECTION SERVICE */







/* SECTION TECHNO */








/* SECTION PROTOTYPE */





/* SECTION EVOLUTION */








/* FOOTER */

/* copier coller css de la page index */