:root {
    --primary: #CC4C0A;
    --secondary: #0078BE;
    --tertiary: #996100;
    --text: #010101;
    --paragraph-font-size: 16px;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
}

body {
    color: var(--text);
}

h2 {
    font-size: 50px;
    color: var(--secondary);
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.padding-bottom {
    padding-bottom: 150px;
}


/* HEADER - NAV */
.div-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    justify-content: center;
    align-items: center;
    gap: 590px;
}

.img-header {
    width: 100px;
}

a.lien-nav {
    text-decoration: none;
    font-size: 20px;
    color: #0078BE;
}

li {
    list-style: none;
}


/* Section HERO (Mohamed-Amine) */
a.bouton-hero {
    text-decoration: none;
    font-size: 22px;
    background-color: #0078BE;
    color: white;
    padding: 8px;
    padding-inline-end: 23px;
    padding-inline-start: 23px;
    border-radius: 8px;
}

.texte-hero {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.texte-hero h2 {
    justify-content: start;
}

a {
    width: fit-content;
}


/* Section Probleme(Amal) */
.container {
    max-width: 1200px;
    margin: auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contenu-enjeu-sante {
    background-color: var(--secondary);
    max-width: 1240px;
    max-height: 500px;
    border-radius: 1rem;
}

.contenu-enjeu-sante p {
    color: white;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 2rem;
}

.text-enjeu-sante {
    font-size: var(--paragraph-font-size);
    margin: 0 2rem;
}

.img-enjeu-sante {
    object-fit: cover;
    border-radius: 0 1rem 1rem 0;
}

.all-cards {
    display: flex;
    gap: 30px;
    margin-top: 5rem;
}

.card {
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: #666;
}

.card img {
    width: 100%;
}

.paragraphe-card {
    display: flex;
    text-align: center;
}


/* Section Solution(Cheima) */
.card-benefice {
    gap: 10px;
    width: 400px;
    height: 50%;
    padding: 20px;
    justify-content: center;
    border-radius: 10px;
    align-items: start;
}

#blue {
    box-shadow: 0px 0px 4px #0000001e;
    border: 1px solid #0078be56;
    color: #0066cc;
}

#orange {
    box-shadow: 0px 0px 4px #0000001e;
    border: 1px solid var(--primary);
    color: #cc4b0ad6;
}

#yellow {
    box-shadow: 0px 0px 4px #0000001e;
    border: 1px solid #996100;
    color: #996100be;
}

.card-benefice p {
    text-align: start;
}

.card-benefice svg {
    width: 70px;
}

#solution .flex-column {
    display: flex;
    justify-content: space-evenly;
}


/* Section Preuve (Sakina) */
#preuves {
    max-width: 800px;
    margin: 0 auto;
}

.container-carrousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.titre-comment {
    text-align: center;
    color: var(--secondary);
    font-size: 32px;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

.carrousel {
    width: 100%;
    max-width: 500px;
    overflow: hidden;
}

.defilement {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carte {

    background:
        radial-gradient(circle at top left,
            rgba(0, 120, 190, .15),
            transparent 40%),
        radial-gradient(circle at bottom right,
            rgba(204, 76, 10, .15),
            transparent 40%);
    box-shadow: 0px 10px 30px rgb(12, 12, 12);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

#img1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 15px;
    margin-bottom: 15px;
}

#nom1 {
    font-size: 18px;
    margin-bottom: 10px;
}

.note {
    color: #ffc107;
    font-size: 18px;
    letter-spacing: 5px;
    margin-bottom: 15px;
}

#titre1 {
    font-size: 18px;
    color: #0066cc;
    margin-bottom: 18px;
}

.commentaire1 {
    font-size: 14px;
    color: #666;
}

.fleche {
    background-color: #0066cc;
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fleche-gauche {
    background-color: #0066cc;
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Section Promesse (Sarrah) */
.div-promesse {
    text-align: center;
}

.div-promesse h2 {
    margin-top: 10px;
}

.div-article {
    border: 1px solid rgb(6, 6, 6);
    width: 350px;
    height: 340px;
    border-radius: 20px;
    box-shadow: 0px 4px 14px;
    margin: 20px;
    text-align: center;
    padding: 10px;
    margin-right: 5px;
    row-gap: 10px;
    gap: 5px;
}

.div h4 {
    color: var(--secondary);
}

.card-contain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.card-contain img {
    border-radius: 19px;
}

.card-contain h3 {
    display: flex;
}

/* section CTA(Cheima-Sarrah) */

/* section Footer (Cheima) */
.unfoot {
    display: flex;
    flex-direction: row;


}

.deuxfoot {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 43px;
}

.-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: var(--secondary);
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: nowrap;
}

.signature {
    background-color: #0066cc;
}

.prenommm {
    color: aliceblue;
    padding: 10px;
}